
   input[type=button] {  
    width: 60px;  
    height: 60px;  
    float: left;  
    padding: 0;  
    margin: 5px;  
    box-sizing: border-box;  
    background: #ecedef;  
    border: none;  
    font-size: 30px;  
    line-height: 30px;  
    border-radius: 50%;  
    font-weight: 700;  
    color: #5E5858;   
    cursor: pointer;    
  }  
  input[type=text] {  
    width: 270px;  
    height: 60px;  
    float: left;  
    padding: 5px;  
    box-sizing: border-box;  
    border: none;  
    background: none;  
    color:black; 
    text-align: right;  
    font-weight: 700;  
    font-size: 60px;  
    line-height: 60px;  
    margin: 0 25px; 
    border-radius: 10px; 
    }  
  
  #result {  
    height: 40px;  
    text-align: right;  
    background-color:white;   
    font-size: 18px;  
    left: 2px;  
    top: 2px;  
  }  
  table{
    background-color:black;
    border-radius: 30px;
  }
